<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>发布留言</title>
    <link rel="stylesheet" href="/public/lib/bootstrap/css/bootstrap.min.css">
    <style>
        .container {
            margin-top: 100px;
        }

        .btn {
            margin-top: 100px;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1 class="text-center">抱歉，你的网页走丢了......</h1>
        <div class="row">
            <div class="col-md-4 col-md-offset-4"><a class="btn btn-primary center-block" href="/">返回首页</a></div>
        </div>

    </div>
</body>

</html>